version: 2.1

executors:
  default_executor:
    docker:
      - image: circleci/python:3.6
    working_directory: ~/PyTorch-BigGraph

jobs:
  build-install:
    executor: default_executor
    steps:
      - restore_cache:
          keys:
            - source-v1-{{ .Branch }}-{{ .Revision }}
            - source-v1-{{ .Branch }}-
            - source-v1-
      - checkout
      - save_cache:
          key: source-v1-{{ .Branch }}-{{ .Revision }}
          paths:
            - .git
      - restore_cache:
          keys:
            - pip-cache-v1-{{ arch }}-{{ .Branch }}-
            - pip-cache-v1-{{ arch }}-
            - pip-cache-v1-
      - run:
          name: Install PyTorch-BigGraph
          command: |
            python3 -m venv ~/venv
            . ~/venv/bin/activate
            pip install pip --upgrade --upgrade-strategy eager
            pip install torch>=1.0 --no-index --find-links https://download.pytorch.org/whl/cpu/torch_stable.html --no-deps --upgrade --upgrade-strategy eager --progress-bar off
            pip install . --upgrade --upgrade-strategy eager --progress-bar off
            pip freeze > ~/pip_freeze.txt
      - save_cache:
          key: pip-cache-v1-{{ arch }}-{{ .Branch }}-{{ checksum "~/pip_freeze.txt" }}
          paths:
            - ~/.cache/pip
      - persist_to_workspace:
          root: "~"
          paths:
            - venv
      - persist_to_workspace:
          root: test
          paths:
            - "*.py"
  test:
    executor: default_executor
    steps:
      - attach_workspace:
          at: "~"
      - attach_workspace:
          at: test
      - run:
          name: Test all the things!
          command: |
            . ~/venv/bin/activate
            python3 test/test_batching.py
            python3 test/test_bucket_scheduling.py
            python3 test/test_distributed.py
            python3 test/test_edgelist.py
            python3 test/test_entitylist.py
            python3 test/test_fileio.py
            python3 test/test_functional.py
            python3 test/test_losses.py
            python3 test/test_model.py
            python3 test/test_schema.py
            python3 test/test_stats.py
            python3 test/test_train.py
            python3 test/test_util.py

workflows:
  version: 2
  build-install-test:
    jobs:
      - build-install
      - test:
          requires:
            - build-install
